# SQL Assignment 1

Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME

 1 Ans: SELECT FIRST_NAME AS WORKER_NAME
        FROM Work;

Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

2 Ans: SELECT DISTINCT DEPARTMENT
       FROM Worker;

Q-3. Write an SQL query to show the last 5 record from a table.

3 Ans: SELECT *
       FROM Worker
       ORDER BY DESC
       LIMIT 5*