# SQL Assignment 2

Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

1 Ans:SELECT SUBSTRING(FIRST_NAME,1,3)
      FROM WORKER;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

2 Ans: SELECT INSTR(FIRST_NAME,BINARY'a')
       FROM WORKER
       WHERE FIRST_NAME = 'Amitabh';

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

3 Ans: SELECT concat(FIRST_NAME, ' ',LAST_NAME) AS NAME, SALARY
       FROM worker
       ORDER BY SALARY DESC