# SQL Assignment 7

Q-13. Write an SQL query to show only odd rows from aÂ table.

13 Ans : SELECT *
FROM worker
WHERE mod(worker_id,2) = 1

Q-14. Write an SQL query to clone a new table from another table.

14 Ans : 
    
    CREATE TABLE new_worker LIKE worker;
    INSERT INTO new_worker SELECT * FROM worker;