# SQL Assignment 3

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

1 Ans: SELECT rtrim(FIRST_NAME)
       FROM worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

2 Ans: SELECT distinct length(DEPARTMENT) 
       FROM worker

Q-3. Write an SQL query to fetch nth max salaries from a table.

3 Ans: SELECT concat(FIRST_NAME, ' ' , LAST_NAME) AS NAME,SALARY
       FROM worker 
       ORDER BY SALARY DESC