# SQL Assignment 10

Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

19 Ans: SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) a

Q-20. Write an SQL query to fetch the list of employees with the same salary.

20 Ans: 
        
        SELECT * 
        FROM employee ORDER BY salary ASC;