# SQL Assignment 4

Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

1 Ans: SELECT replace(FIRST_NAME,'a','A')
       FROM worker

Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

2 Ans: SELECT *
       FROM worker
       ORDER BY FIRST_NAME ASC, DEPARTMENT DESC;

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

3 Ans: SELECT concat(FIRST_NAME, ' ' , LAST_NAME) AS NAME,SALARY
FROM worker
ORDER BY SALARY DESC